body {
    width: 100vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkolivegreen;
    overflow: hidden;
}

header{
    text-align: center;
    height: 800px;
}

.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Times New Roman', Times, serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

}

    .card-image1 {
        grid-area: image;
        background-image: url('https://media-waterdeep.cursecdn.com/attachments/thumbnails/0/612/300/382/dwarf.png');
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;

    }

    .card-text1 {
        grid-area: text;
        margin: 25px;

    }

    .card-stats1 {
        grid-area: stats;
    }

    .card-image2 {
        grid-area: image;
        background: url('https://i.pinimg.com/564x/b7/1e/53/b71e5314c2d96dc6b4acd9df03af5146.jpg');
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;

    }
    .card-text2 {
        grid-area: text;
        margin: 25px;

    }

    .card-stats2 {
        grid-area: stats;
    }

    .card-image3 {
        grid-area: image;
        background: url('https://i.pinimg.com/originals/76/79/71/767971ab72c7c338fa23e9c02f720ceb.jpg');
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;

    }
    .card-text3 {
        grid-area: text;
        margin: 25px;

    }

    .card-stats3 {
        grid-area: stats;
    }

